<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flowmind">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="FlowMind"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1579484168539674~9596956514"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>